/* Styles */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  color: #000000; /* Updated text color */
  background-color: #ffffff; /* Light background color */
}

header {
  background-color: #f8f8f8;
  padding: 1em;
  border-bottom: 2px solid #ddd;
}

nav {
  background-color: #f8f8f8;
  padding: 1em;
  border-bottom: 2px solid #ddd;
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 2em; /* Adjust as needed */
}

nav ul li {
  display: inline;
}

nav ul li a {
  color: #000;
  text-decoration: none;
  font-weight: bold;
}
.site-footer {
  background-color: #fff; /* Adjust background color */
  padding: 20px;
  text-align: left; /* Align text to the left */
  border-top: 2px solid #ddd;
  color: #000;
  font-family: Arial, sans-serif;
}

.footer-heading {
  font-size: 24px;
  margin-bottom: 5px; /* Provide space below the title */
}

.footer-description {
  font-size: 16px;
  margin-bottom: 10px; /* Provide space below the description */
}

.footer-col-wrapper {
  display: flex;
  justify-content: space-between; /* Flex layout to balance columns */
  margin-top: 15px; /* Space above the column wrapper */
}

.contact-list, .social-media-list {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 5px;
}

a {
  color: #5badf5;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.icon {
  width: 16px; /* Set width for image-based icons */
  height: 16px; /* Set height for image-based icons */
  display: inline-block; /* Ensure proper display */
  line-height: 0; /* Remove any added line-height */
  vertical-align: middle; /* Align icons with text */
}

.social-media-list li {
  display: inline-block; /* Align icons horizontally */
  margin-right: 10px; /* Space between icons */
}

.username {
  margin-left: 5px; /* Space between icon and username */
  font-size: 12px; /* Adjust font size of the username text */
}