/* Light mode (default) styles */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; /* Keep this as it might be the desired font */
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  color: #000;
  background-color: #fff;
  margin: 0;
  padding: 0;
  text-align: left;
  max-width: 90%;
  margin: 0 auto;
}

header {
    text-align: center;
}

header, nav, .site-footer, footer, .post-box {
  background-color: #f8f8f8;
  border-bottom: 2px solid #ddd;
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 2em;
}

nav ul li, li {
  display: inline;
  margin-bottom: 5px;
}

nav ul li a, .post-link, a {
  color: #000;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

.site-footer {
  padding: 20px;
  text-align: left;
  border-top: 2px solid #ddd;
  color: #000;
}

.footer-heading {
  font-size: 24px;
  margin-bottom: 5px;
}

.footer-description {
  font-size: 16px
  margin-bottom: 10px;
}

.footer-col-wrapper, .contact-list, .social-media-list, .post-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.icon {
  width: 24px;
  height: 24px;
  display: inline-block;
  line-height: 0;
  vertical-align: middle;
}

.username, .copyright-text {
  margin-left: 5px;
  font-size: 12px;
  color: #666;
  margin-top: 10px;
}

.post-box {
  background-color: #f0f0f0;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.post-box:hover {
  transform: scale(1.02);
}


.post-content, page-content {
  max-width: 90%;
  margin: 0 auto;
}

.post-content img {
  max-width: 90%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.about-image {
  max-width: 90%;     /* Ensures the image does not overflow its container */
  height: auto;        /* Maintains the aspect ratio */
  display: block;      /* Ensures the image behaves as a block element */
  margin: 20px auto;   /* Centers the image with margin */
  border-radius: 50%;  /* Optional: Give the image a circular appearance */
  border: 2px solid #ddd; /* Optional: Add a border for styling */
}


/* Dark mode styles */
@media (prefers-color-scheme: dark) {
  body {
    color: #fff;
    background-color: #000;
  }

  header, nav, .site-footer, footer, .post-box {
    background-color: #000;
    border-color: #444;
  }

  nav ul li a, .post-link, a, 
  .footer-description, 
  .post-excerpt, .copyright-text {
    color: #bbb;
  }
}